<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Image Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/images']" routerLinkActive="router-link-active">Galleria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/images/new']" routerLinkActive="router-link-active">Subir Imagen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
